debug.txt
*.out
*.so
*.o
*.do
*.ao
*.dao
*.da
*.a
*.dll
*.exe
build_inc
nyxi
starter
starter_debug
unit_tests_debug
unit_tests
nyxi_debug

tools/build_inc/*.o
exports/*.o
exports/*.do
exports/*.da
exports/*.a
imports/*.o
imports/*.do
imports/*.da
imports/*.a